* {
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
}

table, td{
    margin: 20px;
    padding: 0px 0px 50px 0px;
}

td{
    margin-top: 0px;
    width: 50%;
}

.but1{
    height: -5px;
    text-align: center;
}

.styled-button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    background-color: #0000CD;
    
}